<div class="app-header">
  <div class="container header-content">
    <div class="left-header">
      <a [routerLink]="['/']" class="logo">BOOKLY</a>
      <a [routerLink]="['/books']">{{ 'header.books' | translate }}</a>
      @if (isLoggedIn()) {
        <a [routerLink]="['/orders']">{{ 'header.orders' | translate }}</a>
      }
    </div>

    <div class="right-header">
      <button
        mat-icon-button
        class="language-button"
        [matMenuTriggerFor]="languageMenu"
        aria-label="Change language">
        <mat-icon>language</mat-icon>
      </button>

      <button
        mat-icon-button
        class="menu-button"
        [matMenuTriggerFor]="mobileMenu"
        aria-label="Open navigation menu">
        <mat-icon>menu</mat-icon>
      </button>

      @if (isLoggedIn()) {
        <span class="username">{{ 'header.loggedIn' | translate }} {{ username() }}</span>
        <button mat-raised-button color="accent" (click)="logout()" [routerLink]="['/']">Logout</button>
      } @else {
        <button mat-raised-button color="primary" [routerLink]="['/login']">
            Login
        </button>
      }
    </div>
  </div>

  <mat-menu #languageMenu="matMenu">
    <button mat-menu-item (click)="changeLanguage('en')">
      EN
    </button>
    <button mat-menu-item (click)="changeLanguage('de')">
      DE
    </button>
  </mat-menu>

  <mat-menu #mobileMenu="matMenu">
    <a mat-menu-item [routerLink]="['/']">{{ 'header.home' | translate }}</a>
    <a mat-menu-item [routerLink]="['/books']">{{ 'header.books' | translate }}</a>

    @if (isLoggedIn()) {
      <a mat-menu-item [routerLink]="['/orders']">{{ 'header.orders' | translate }}</a>
    } 
  </mat-menu>
</div>
