.app-header {
  background-color: var(--color-primary);
  color: white;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}

.left-header {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  a {
    color: white;
    font-weight: 500;
    text-decoration: none;

    &.active {
      text-decoration: underline;
    }
  }
}

.logo {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.05em;
}
