@use '../../../variables' as v;

.app-header {
  background-color: v.$color-primary;
  color: v.$color-primary-light;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; // ensure header stays over other content
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 64px;
  padding: 0 1rem;
}

.left-header {
  display: flex;
  align-items: center;
  gap: 2rem;

  a {
    color: v.$color-primary-light;
    font-weight: 500;
    padding: 0.25rem 0;
  }
}

.logo {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.right-header {
  display: flex;
  align-items: center;
  gap: 12px;

  .username {
    font-weight: 500;
    color: v.$color-primary-light;
  }
}

.language-button {
  color: v.$color-primary-light;
}

.menu-button {
  display: none;
  color: v.$color-primary-light;
}

@media (max-width: v.$mobile-size) {
  .left-header a:not(.logo) {
    display: none;
  }

  .right-header .username {
    display: none;
  }

  .menu-button { // show only for mobile
    display: inline-flex;
  }
}

