<div class="app-header">
  <div class="container header-content">
    <div class="left-header">
      <a [routerLink]="['/']" class="logo">BOOKLY</a>
      <a [routerLink]="['/books']">Book Collection</a>
      @if (isLoggedIn()) {
        <a [routerLink]="['/orders']">Orders</a>
      }
    </div>

    <div class="right-header">
      @if (isLoggedIn()) {
        <span class="username">Logged in as {{ username() }}</span>
        <button mat-raised-button color="accent" (click)="logout()" [routerLink]="['/']">Logout</button>
      } @else {
        <button mat-raised-button color="primary" [routerLink]="['/login']">
            Login
        </button>
      }
    </div>
  </div>
</div>
