<div class="app-header">
  <div class="container header-content">
    <div class="left-header">
      <a [routerLink]="['/']" class="logo">BOOKLY</a>
      <a [routerLink]="['/books']">Book Collection</a>
      @if (isLoggedIn()) {
        <a [routerLink]="['/orders']">Orders</a>
      }
    </div>

    <div class="right-header">
      <button
        mat-icon-button
        class="menu-button"
        [matMenuTriggerFor]="mobileMenu"
        aria-label="Open navigation menu">
        <mat-icon>menu</mat-icon>
      </button>

      @if (isLoggedIn()) {
        <span class="username">Logged in as {{ username() }}</span>
        <button mat-raised-button color="accent" (click)="logout()" [routerLink]="['/']">Logout</button>
      } @else {
        <button mat-raised-button color="primary" [routerLink]="['/login']">
            Login
        </button>
      }
    </div>
  </div>

  <mat-menu #mobileMenu="matMenu">
    <a mat-menu-item [routerLink]="['/']">Home</a>
    <a mat-menu-item [routerLink]="['/books']">Book Collection</a>

    @if (isLoggedIn()) {
      <a mat-menu-item [routerLink]="['/orders']">Orders</a>
    } 
  </mat-menu>
</div>
