@use '../../../variables' as v;

.book-detail-card {
  max-width: 800px;
  margin: 1.5rem auto;
  padding: 2rem;
  border-radius: 12px;

  .book-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .description,
    .categories,
    .authors {
      margin-top: 4px;
    }
  }

  mat-card-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
  }
}

.error-card {
  width: 90%;
  max-width: 500px;
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
  color: v.$color-error;
}

.error-button {
  background-color: v.$color-primary;
  color: v.$color-primary-light;
}
