<ng-container *ngIf="book$ | async as book; else emptyTemplate">
    <mat-card class="book-detail-card">
        <mat-card-header>
            <mat-card-title>{{ book.title }}</mat-card-title>
            <mat-card-subtitle>{{ book?.subtitle }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="book-content">
            <div class="authors">
                <strong>{{ 'book-details.authors' | translate }}:  </strong>
                @for (author of book.authors; track author) {
                    <mat-chip>{{ author }}</mat-chip>
                }
            </div>

            <div class="published-date">
                <strong>{{ 'book-details.published' | translate }}:  </strong> {{ book.publishedDate }}
            </div>

            <div class="categories">
                <strong>{{ 'book-details.categories' | translate }}:  </strong>
                @for (category of book.categories; track category) {
                   <mat-chip>{{ category }}</mat-chip>
                }
            </div>

            <p class="description">{{ book.description }}</p>

            <div class="price">
                <strong>{{ 'book-details.price' | translate }}:</strong> {{ book.price | currency: 'EUR' }}
            </div>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="primary" [routerLink]="['/checkout']" (click)="onBuy(book)">
                {{ 'book-details.buy' | translate }}
            </button>
            <button mat-raised-button [routerLink]="['/books']">
                {{ 'book-details.back' | translate }}
            </button>
        </mat-card-actions>
    </mat-card>
</ng-container>

<ng-template #emptyTemplate>
     <mat-card class="error-card">
        <p>{{ 'book-details.error' | translate }}</p>
        <button mat-button color="primary" class="error-button" [routerLink]="['/books']">{{ 'book-details.back' | translate }}</button>
    </mat-card>
</ng-template>