.book-detail-card {
  max-width: 800px;
  margin: 24px auto;
  padding: 16px;

  .book-content {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .description {
      margin-top: 4px;
    }

    .categories {
      margin-top: 4px;
    }

    .authors {
        margin-top: 4px;
    }
  }

  mat-card-actions {
    display: flex;
    gap: 16px;
    margin-top: 16px;
  }
}

.error-card {
  max-width: 500px;
  margin: 24px auto;
  padding: 16px;
  text-align: center;
  color: red;
}

.error-button {
  background-color: var(--color-primary);
  color: white;
}
