.books-content {
    padding: clamp(1rem, 3vw, 2rem);
}

.filter-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: clamp(0.5rem, 2vw, 1rem);
    margin-top: 0.5rem;
}

.book-count {
    font-size: clamp(0.8rem, 2vw, 1rem);
    color: rgba(0, 0, 0, 0.6);
    margin-top: -15px;
}

.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: clamp(0.5rem, 2vw, 1rem);
    margin-top: 1rem;
    box-sizing: border-box;
}

mat-card-header {
    min-height: 100px;
    display: flex;
    flex-direction: column;
}


mat-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    padding: clamp(0.5rem, 2vw, 1rem);
}

.card-content {
    display: flex;
    align-items: flex-start;
    gap: clamp(1rem, 2vw, 1.5rem);
}

.book-image {
    width: 120px;
    border-radius: 12px;
    flex-shrink: 0;
    margin-top: 8px;
}  

.card-body {
    display: flex;
    flex-direction: column;    
    align-items: flex-start;
    flex: 1;
    margin: 5px;

    p {
        margin: 4px 0;
        font-size: clamp(0.85rem, 2vw, 1rem);
    }

    button {
        align-self: flex-start;
        margin-top: 8px;
        margin-top: 8px;
        flex-shrink: 0;
    }
}

.buy-button {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-right: 8px;
}

.buy-button-inner {
    background-color: var(--color-primary);
    color: var(--color-primary-light);

    &:hover {
        background-color: var(--color-primary-dark);
    }
}

@media (max-width: 768px) {
    .book-list {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }

    .card-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .book-image {
        width: 70%;
        max-width: 70%;
        margin: 0 0 0.5rem 0;
    }

    .buy-button {
        padding-top: 0;
        justify-content: flex-start;
    }

    .card-body {
        align-items: flex-start;
        text-align: left;
    }

    mat-card-actions,
    .card-body button,
    .buy-button-inner {
        width: 100%; /* buttons full width on mobile */
    }
}
