@use '../../variables' as v;

.home-content {
  min-height: calc(100vh - 64px); // subtract header height
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: v.$color-text;
  margin-top: 0;
  margin-bottom: 0;

  @media (max-width: v.$mobile-size)  {
    font-size: 2rem;
  }
}

h2 {
  font-size: 2rem;
  margin-top: 0;
  color:  v.$color-text;

  @media (max-width: v.$mobile-size) {
    font-size: 1.4rem;
  }
}

.show-button {
  min-width: 140px;
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 8px;
  background-color:  v.$color-primary;
  color: v.$color-primary-light;

  @media (max-width: v.$mobile-size) {
    font-size: 1rem;
  }
}
