.home-content {
  min-height: calc(100vh - 64px); // subtract header height
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  gap: clamp(0.75rem, 1vw, 1rem);
}

h1 {
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-weight: 700;
  color: var(--color-text);
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-size: clamp(1.1rem, 3vw, 1.5rem);
  margin-top: 0;
  color: var(--color-text);
}

.home-button {
  min-width: 140px;
  padding: 0.75rem 1.5rem;
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  border-radius: 8px;
  background-color: var(--color-primary);
  color: var(--color-primary-light)
}
